<ion-header>
  <ion-toolbar>
    <ion-title>faq</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>What exactly is BookNow Software?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      BookNow is an all in one booking, commerce and management system, which means you can manage all aspects of your business from one platform, not just bookings.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>What is an integrated booking system?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      An integrated booking system allows your customers to make bookings multiple ways (e.g. online, over the phone or in venue), and have this solution integrated with your other software such as POS, CRM, Marketing and more. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>How are new features decided?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      As well as innovating internally, we also have a feature request section on our support centre which customers can submit and vote on features. 
    </ion-card-content>
  </ion-card>
</ion-content>