
<ion-content class="ion-padding">
  <div class="ion-padding container">

    <div id="container">
      <ion-card>
        <ion-card-header>
          <ion-card-title> Booknow </ion-card-title>
        </ion-card-header>
          <ion-card-content>
            <img src ="assets/profile.png"/>
          </ion-card-content>
          </ion-card>
          </div>


      <div class="sign-up">
        <ion-button expand="block" class="main-button" color="light" routerLink="/login" routerDirection="forward">User</ion-button>
      </div>

      <div class="sign-up">
        <ion-button expand="block" class="main-button" routerLink="/admin-login" routerDirection="forward">Admin</ion-button>
      </div>

    
  </div>
</ion-content>
