<ion-header>
  <ion-toolbar>
    <ion-title>User profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  *ngFor="let u of user | async">
    <ion-card-header>
      <ion-card-title> User Profile</ion-card-title>
    </ion-card-header>
      <ion-card-content>
        NAME: {{ u.displayName}}<br>
        ID : <p>{{ u.uid }}</p> 
        EMAIL : <p>{{ u.email }}</p> 
    
      </ion-card-content>


</ion-card>
</ion-content>



